.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mudar a cor do item selecionado */
.ant-menu-item-selected {
  background-color: #80c6a6 !important;
}

/* Ajustar a cor do colapso do sidebar */
.ant-layout-sider-trigger {
  background-color: #006129 !important; /* Ajuste a cor conforme necessário */
  color: #ffffff !important; /* Cor do ícone de colapso */
}

.ant-menu-item,
.ant-menu-submenu-title {
  color: #ffffff !important;
}

