.CaixaCheck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.checkbox-title {
    text-align: center;
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox-input input[type="checkbox"]:checked{
    color: brown !important;
}

/* Mudar a cor da borda e do fundo quando o checkbox estiver selecionado */
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: black;
    border-color: black;
}
  
/* Mudar a cor da borda do checkbox */
.ant-checkbox-inner {
    border-color: black;
}
  