.textarea-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5px;
  background-color: #ffffff;
}
  
.form-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 98%; 
  background-color: #fff;
  padding-left: 25px;
}

.tf-label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 10px;
}

.tf-textarea {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 5px;
  font-weight: normal;
  resize: vertical;
}
  