.navbar {
  width: 97%;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo-left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-left {
  padding: 10px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 50px;
}

.nav-menu-wrapper {
  display: flex;
}

.nav-menu {
  margin-left: 20px;
}

.nav-menu-two {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-right: 20px;
}

.menu-container {
  position: relative;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
