.purchaseline-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    flex-grow: 1;
}