.requestLine {
    border: 1px solid black; 
    display: block;
    margin-bottom: 4px;
}

.requisitante-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}