.login-body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../public/background-image.jpg'); 
  background-size: cover;
  background-position: center; 
  min-height: 100vh; 
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semi-transparente */
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  color: #333333;
}

.login-form .input-group {
  margin-bottom: 15px;
}

.login-form .input-group label {
  font-size: 14px;
  color: #777777;
  margin-bottom: 5px;
}

.login-form .input-group input[type="text"],
.login-form .input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-form .input-group input[type="checkbox"] {
  margin-right: 10px;
}

.login-form .login-button {
  background-color: #80c6a6;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.login-form .login-button:hover {
  background-color: #ff9959;
}

.login-form .register-link {
  text-align: center;
  margin-top: 20px;
}

.login-form .register-link a {
  color: #1c8adb;
  text-decoration: none;
}

.login-form .register-link a:hover {
  text-decoration: underline;
}


